@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Lato&display=swap");
@import "./variables.css";

html {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
body {
	background-color: var(--grey-50);
	min-height: 100%;
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-rows: 1fr auto;
	position: relative;
}

body * {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
}

label,
input {
	display: inline-block;
	font-family: inherit;
	font-size: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input:focus {
	outline: none;
}

input:active {
	top: 0.1em;
}

a {
	text-decoration: none;
	color: var(--link-color);
	position: relative;
}

a:hover {
	cursor: pointer;
}

.app__container {
	display: grid;
	width: 100%;
	grid-template-areas: "header" "main" "footer";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app__header {
	padding: 2rem 2rem 0;
	grid-area: header;
	display: grid;
	grid-template-areas: "back logo account";
	grid-template-columns: repeat(3, minmax(3rem, 1fr));
	grid-template-rows: 1fr;
}

.header__back {
	grid-area: back;
}

.header__auth {
	overflow: visible;
	display: grid;
	justify-items: right;
}

.app__logo {
	margin: auto;
	min-width: 8rem;
	max-width: 20rem;
}

.app__logo-mobile {
	grid-area: logo;
	visibility: hidden;
}

.app__logo-default {
	display: none;
	margin-bottom: 5rem;
}

.app__main {
	grid-area: main;
	justify-items: center;
}

.hide {
	visibility: hidden;
}

.app__footer {
	grid-area: footer;
	min-height: 8rem;
	background-color: var(--footer-bg);
	display: grid;
	align-items: center;
	text-align: center;
	font-weight: 600;
	color: var(--footer-color);
}

.app__footer a {
	color: var(--red);
}

.app__footer a::after {
	content: "";
	height: 2px;
	background: linear-gradient(90deg, #ff8a00, #e52e71);
	width: 100%;
	position: absolute;
	bottom: -2px;
	left: 0;
	border-radius: 2px;
}

.btn__icon {
	border: none;
	background-color: unset;
	cursor: pointer;
}

.btn__icon svg:hover {
	stroke: var(--light-red);
}

/*
authentication
 */
.auth__form {
	width: 90%;
	text-align: center;
	margin: auto;
	border: 1px solid var(--border);
	border-radius: 0.2rem;
}

.auth__form form {
	padding: 2rem;
}

.auth__form input {
	display: block;
	width: 100%;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 2;
	border: 0;
	border-bottom: 1px solid var(--border);
	padding: 4px 8px;
	font-family: inherit;
	transition: 0.5s all;
	font-size: 0.8rem;
}

.autocomplete-fix {
	position: absolute;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	width: 0;
	height: 0;
	left: 0;
	top: 0;
}

.divider {
	display: flex;
}

.divider:before,
.divider:after {
	content: "";
	flex: 1;
}

.line {
	align-items: center;
	margin: 1em -1em;
}
.line:before,
.line:after {
	height: 1px;
	margin: 0 0.8em;
}

.one-line:before,
.one-line:after {
	background: var(--border);
}

.input-group {
	margin: 2rem 0;
}
